@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 16px;
}

p {
  @apply mb-2 text-lg;
}

h1,
h2,
h3 {
  @apply text-primary;
  margin-bottom: 10px;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: x-large;
}

h1 {
  font-size: xx-large;
}

.title {
  @apply text-lg font-semibold text-secondary;
}

p {
  @apply leading-8;
}

.box {
  @apply bg-primary border-4 border-secondary text-secondary font-bold m-3 p-3;
}

input {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5;
}

textarea {
  @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 h-32 mb-8;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.button {
  @apply bg-primary text-white px-4 py-2 rounded hover:bg-secondary;
}

section {
  @apply relative bg-white mb-5 md:mb-10  p-1 md:p-3;
}

.menulink {
  @apply flex items-center py-2 text-accent hover:text-primary  hover:underline underline-offset-4 text-lg font-normal;
}

.menu ul {
  @apply mt-0;
}

.menu li {
  @apply list-none;
}

footer li {
  @apply list-none;
}

ul {
  @apply mt-2;
}

li {
  @apply list-disc ml-5;
}

.no-bullets {
  list-style-type: none;
  padding: 0; /* Optional: Entfernt das Padding */
  margin: 0; /* Optional: Entfernt das Margin */
}

.no-bullets li::marker {
  content: ""; /* Entfernt den Marker */
}

blockquote {
  @apply text-lg italic  border-primary border-l-8 pl-4;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.bg-active {
  @apply bg-orange-500 px-2 text-white hover:text-white;
}

a {
  @apply text-primary font-bold hover:underline;
}
